* {
  margin: 0;
  padding: 0;
}

html {
  /* converting 16px to 10px */
  font-size: 62.5%;
}

body {
  background-image: url("./images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
}

.card {
  margin-top: 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden;
}

.card__img {
  margin-bottom: 4rem;
}
.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 2.8rem;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  margin-bottom: 2rem;
}

.order__sum {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
  color: hsl(224, 23%, 55%);
}
.plan {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  /* background-color: red; */
  border-radius: 9px;
  padding: 2rem;
}
.plan__icon {
}

.plan__annual-plan {
  margin-bottom: 2rem;
  /* background-color: red; */
}

.plan__annual-plan h3 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 1.6rem;
}
.plan__price {
  font-size: 1.6rem;
  color: hsl(224, 23%, 55%);
}
.plan a {
  /* float: right; */
  margin-left: 4rem;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn_pay {
}
.btn__cancel {
  color: hsl(224, 23%, 55%);
}
